.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #21242e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Main-header{
  background-color: #21242e;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.side-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #21242e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-navigation a:hover {
  color: #f1f1f1;
}

.side-navigation .closebtn {
  position: absolute;
  top: 15px;
  right: 50px;
  margin-left: 50px;
  background-image: url(./assets/backArrow.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);
}
.clock-icon{
  position: absolute;
  top: 15px;
  right: 25px;
  margin-left: 50px;
  background-image: url(./assets/schedule-24px.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);  
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.collapsable-container{
  border-bottom: 1px solid white;
}
.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: 700;
}
.active, .collapsible:hover {
}
.content {
  padding: 5px 18px;
  font-size: 16px;
  font-weight: 500;
  display: none;
  overflow: hidden;
  color: white;
}
.content-wrapper{
  display: flex;
  justify-content: space-around;
}
.expand-item-icon-down{
  margin-right: 35px;
  background-image: url(./assets/down-arrow.svg);
  background-repeat: no-repeat;
}
.expand-item-icon-up{
  margin-right: 35px;
  background-image: url(./assets/up-arrows.svg);
  background-repeat: no-repeat;
  
}
.expand-icon{
  width: 20px;
  height: 20px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);  
}

@media screen and (max-width:800px){
  .trigger-modal-button-view-update{
    margin-bottom: 10vh;
  }
}
.trigger-modal-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid#333747;
  background-color: #333747;
  padding: 8px 10px;
  border-radius: 6px;
  width: 80%;
  margin-left: 10%;
}
.trigger-modal-button-icon{
  background-image: url(./assets/update-24px.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);
}

.time-date-modal-container{
  position: relative;
  top: 8%;
}

.set-time-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:650px){
  .set-time-wrapper-media{
    width: 98%;
    padding-left: 1%;
  }
  .set-time-wrapper-media > div > input{
    width: 80%;
  }
}
@media screen and (min-width:650px){
  .set-time-wrapper-media{
    width: 80%;
    padding-left: 10%;
  }
}
.modal-calendar-icon{
  background-image: url(./assets/calendar-icon.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);  
}

.set-date-wrapper{
  display: flex;
  justify-content: center;
  height: 10vh;
  color: white;
  font-weight: 800;
}
.ReactModal__Overlay--after-open{
  background-color: #21242e!important;
}
.ReactModal__Content--after-open{
  background-color: #21242e!important;
  border-color: #21242e!important;
  overflow-x: hidden!important;
}
@media screen and (min-width:650px){
  .ReactModal__Content--after-open{
  }
}
@media screen and (max-width:650px){
  .ReactModal__Content--after-open{
    left: 40px!important;
    right: 40px!important;
    padding: 0px!important;
  }
}
.react-calendar__navigation__arrow{
  background-color: #333747;
  border-color: #333747;
  border: 1px solid #333747;
  color: white;
  font-weight: 800;
}
.react-calendar__navigation__prev2-button{
  border-top-left-radius: 6px;
}
.react-calendar__navigation__next2-button{
  border-top-right-radius: 6px;
}
.react-calendar__month-view__weekdays > div > abbr{
  text-decoration: none;
}
.react-calendar__navigation{
  height: 6vh;
}
.react-calendar__navigation__label{
  border-bottom: 1px solid #21242e!important;
}
.react-calendar__navigation__label{
  background-color: #333747;
  border-color: #333747;
  border: 1px solid #333747;
  color: white;
  font-weight: 800;
}
.react-calendar__month-view__weekdays{
  height: 6vh;
  text-align: center;
  padding-top: 9px;
  background-color: #333747;
  border-color: #333747;
  border: 1px solid #333747;
  border-bottom: 1px solid #21242e;
  color: white;
  font-weight: 800;
  padding-top: 14px;
}
.react-calendar__month-view__days__day{
  background-color: #333747;
  border-color: #333747;
  border: 1px solid #333747;
  color: white;
  font-weight: 800;
}
.ReactModal__Content{
  overflow-x: hidden!important;
}
@media screen and (min-width:650px){
  .react-calendar-wrapper{
    width: 80%;
    padding-left: 10%;
  }
}
@media screen and (max-width:650px){
  .react-calendar-wrapper{
    width: 98%;
    padding-left: 1%;
  }
}
.react-calendar__month-view__days{
  height: 30vh;
}

