body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.margin-top-3px{
  margin-top: 3px;
}
.margin-top-8px{
  margin-top: 8px;
}
.margin-left-8px{
  margin-left: 8px;
}
.margin-left-5px{
  margin-left: 5px;
}
.margin-left-13px{
  margin-left: 13px;
}
.margin-right-13px{
  margin-right: 13px;
}
.margin-bottom-8px{
  margin-bottom: 8px;
}
.app-main-wrapper{
  width: 60vw;
}
.clock-wrapper{
  position: relative;
  margin: 15vh 0 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #333747 */
input{
  width: 60vw;
  font-size: 1.2rem;
  padding: 8px 0 8px 15px;
  background-color:#333747;
  color: white;
  border-color: #333747;
  border: 1px solid #333747;
  font-weight: 500;
  border-radius: 6px;
}
.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 65%;
  background-color: gray;
  left: 15px;
  top: 20%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}
.cursor input:focus + i {
  display: none;
}
@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

input::placeholder{
  color: rgb(170, 170, 170);
  font-weight: 300;
}
.div-time-wrapper-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
@media screen and (min-width:1500px){
  .div-time-wrapper{
    position: absolute;
    top: 8%;
   /*  left: 25%; */
  } 
}
@media screen and (min-width:650px) and (max-width:1500px){
  .div-time-wrapper{
    position: absolute;
    top: 8%;
   /*  left: 30%; */
  } 
}
@media screen and (max-width:650px){
  .div-time-wrapper{
    position: absolute;
    top: 8%;
  /*   left: 35%; */
  } 
}
.div-circular-slider-wrapper{}

.clock-schedule-icon-wrapper{
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 100px;  
}
.clock-schedule-icon {
  background-image: url(./assets/schedule-24px.svg);
  background-repeat: no-repeat;
}
.save-clock-schedule-icon-wrapper{
  width: 30px;
  height: 30px;
  background-color: green;
}
.save-clock-schedule-icon{
  background-image: url(./assets/check-24px.svg);
  background-repeat: no-repeat;
}
/* .nameIcon-icon{
  background-image: url(./assets/icons8-user-menu-male-100.png);
  background-repeat: no-repeat;
}
.notification-icon{
  background-image: url(./assets/icons8-squared-menu-100.png);
  background-repeat: no-repeat;
} */
.icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);
}

.header-template{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-name-container{
  display: flex;
  align-items: center;
}
.navigation-icon{
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-filter: brightness(0) invert(1); /* Chrome, Safari, Opera */
  filter: brightness(0) invert(1);
}
.hamberger-icon{
  background-image: url(./assets/hamburger.svg);
  background-repeat: no-repeat;
}
.notification-icon{
  background-image: url(./assets/menu-24px.svg);
  background-repeat: no-repeat;
}


.button-container{
  width: 100%;
  position: absolute;
  top: 92%;
}

@media screen and (min-width:650px){
  .set-date-button{
    width: 60%;
    margin-left: 8%;
    margin-right: 10%;
    height: 35px;
    font-size: 24px;
    background-color: green;
    border-color: green;
    color: white;
    font-weight: 900;
    border-radius: 6px;
  }
  
}
@media screen and (max-width:650px){
  .set-date-button{
    width: 60%;
    margin-left: 4%;
    margin-right: 10%;
    height: 35px;
    font-size: 24px;
    background-color: green;
    border-color: green;
    color: white;
    font-weight: 900;
    border-radius: 6px;
  }
  
}

.close-modal-button{
  width: 10%;
  height: 35px;
  background-color: red;
  border-color: red;
  font-size: 24px;
  color: white;
  font-weight: 900;
  border-radius: 6px;
  padding: 0px;
}
@media screen and (max-width:650px){
  .button-shift-mobile{
    margin-left: 12vw;
  }
}
